name: portable-python-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*'

jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    env:
      version: 3.13.9
    steps:
    - name: curl python installer
      shell: cmd
      run: curl https://www.python.org/ftp/python/${{ env.version }}/python-${{ env.version }}-amd64.exe -L --output installer.exe

    - name: set PATH, check mingw version, cmake generate, build and install
      shell: cmd
      run: installer.exe /quiet TargetDir="${{ github.workspace }}\python-installation" InstallAllUsers=0 AssociateFiles=0 PrependPath=0 Include_tcltk=1 Include_test=0
      
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: "zip"
        directory: "${{ github.workspace }}/python-installation"
        filename: "python-${{ env.version }}-amd64-portable.zip"

    - name: Release prebuilt
      uses: ncipollo/release-action@v1
      with:
        artifacts: "${{ github.workspace }}/python-installation/python-${{ env.version }}-amd64-portable.zip"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
